<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <h1>Create message</h1>
</header>

<a class="createMessage" href="/">Go back</a>
  <form action="/createMessage" method="POST">
    <div>    <label for="title">Title</label>
        <input name="title" placeholder="title" type="text" /></div>


<div>   <label for="text">Text</label>
    <input name="text"  placeholder="text" type="text" /></div>



 
    <button>Create</button>
  </form>
</body>
</html>