<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <h1>Sign Up</h1>
</header>

 <a class="createMessage" href="/log-in">Login</a>
  <form action="" method="POST">
    <div>    <label for="username">Username</label>
        <input name="username" placeholder="username" type="text" /></div>


<div>   <label for="password">Password</label>
    <input name="password" type="password" /></div>

    <div>


        <label for="email">Email</label>
    <input name="email" type="email" />
    </div>

 
    <button>Sign Up</button>
  </form>
</body>
</html>